.images {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    width: 1000px;
    height: 750px;
}

@media (min-width :400px) {
    .images {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .images {
        grid-template-columns: repeat(3, 1fr);
    }
}
    
@media (min-width: 1000px) {
    .images {
        grid-template-columns: repeat(6, 1fr);
    }
}
